body {
  margin: 0;
  border-width: 0;
  text-align: center;
  font-family: serif;
}

h1 {
  font-size: 5.622rem;
  color: #F8FFDB;
  margin: 0;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: .5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #FF97C1;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 4rem;
  margin: 6.25rem auto;
  clear: both;
}

button {
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background: #3acacf;
  background-image: -webkit-linear-gradient(top, #3acacf, #11999e);
  background-image: -moz-linear-gradient(top, #3acacf, #11999e);
  background-image: -ms-linear-gradient(top, #3acacf, #11999e);
  background-image: -o-linear-gradient(top, #3acacf, #11999e);
  background-image: linear-gradient(to bottom, #3acacf, #11999e);
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

button:hover {
  background: #ff9ccc;
  background-image: -webkit-linear-gradient(top, #ff9ccc, #eb81ad);
  background-image: -moz-linear-gradient(top, #ff9ccc, #eb81ad);
  background-image: -ms-linear-gradient(top, #ff9ccc, #eb81ad);
  background-image: -o-linear-gradient(top, #ff9ccc, #eb81ad);
  background-image: linear-gradient(to bottom, #ff9ccc, #eb81ad);
  text-decoration: none;
}
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #FF97C1;
  border-width: 0;
}

.me {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 30px;
}

.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 18.75rem;
  top: 3.125rem;
}

.bottom-cloud {
  position: absolute;
  left: 14.625rem;
  bottom: 18.75rem;
}

.mountain {
  width: 45.3rem;
}

.header {}

.iam {
  color: #F8FFDB;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 40%;
  margin: auto;
}

.skills {
  width: 60%;
  margin: 100px auto;
}

.skill-row-a {
  text-align: left;
  margin: 100px auto;
}

.skill-row-b {
  text-align: left;
  margin: 100px auto;
  padding-bottom: 20px
}
.laptop {
  width: 18.75rem;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.chef {
  width: 13rem;
  height: 180px;
  float: right;
  margin-left: 30px;

}
.contact-me {
  margin: 100px auto;
}
.bottom-container {
  background-color: #FF97C1;
  margin: 0;
  border-width: 0;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.btn {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  padding: 1.2rem;
  text-decoration: none;
}

/*Font families
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/
